<nav class="sidebar d-flex flex-column p-3">
  <h5 class="app-title mb-4 text-center">
    <span class="d-block">IJUX</span>
    <span class="d-block">ALARM</span>
  </h5>
  <ul class="nav nav-pills flex-column">
    <li class="nav-item">
      <a class="nav-link" routerLink="/listar-alarmas" routerLinkActive="active"
        >Alarmas</a
      >
    </li>
    <li class="nav-item">
      <a
        class="nav-link"
        routerLink="/habilitar-deshabilitar"
        routerLinkActive="active"
        >Habilitar/Deshabilitar Alarma</a
      >
    </li>
    <li class="nav-item">
      <a
        class="nav-link disabled"
        routerLink="/estadisticas"
        routerLinkActive="active"
        tabindex="-1"
        aria-disabled="true"
        >Ver Estadísticas</a
      >
    </li>
  </ul>
</nav>

<button class="btn logout-btn" (click)="cerrarSesion()">Cerrar Sesión</button>
