<div class="alarmas-title-container">
  <span>ALARMAS</span>
</div>

<div class="alarmas-table-container">
  <table class="table table-hover custom-table">
    <thead>
      <tr>
        <th scope="col">Hora</th>
        <th scope="col">Tipo</th>
        <th scope="col">Periodicidad</th>
        <th scope="col">Handle</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>7:00 AM</td>
        <td>Tratamiento</td>
        <td>Miércoles</td>
        <td>1 Cucharada</td>
      </tr>
      <tr>
        <td>10:00 PM</td>
        <td>Reunión</td>
        <td>Una vez</td>
        <td>Capacitación</td>
      </tr>
      <tr>
        <td>6:00 AM</td>
        <td>Sueño</td>
        <td>Todos los días</td>
        <td>Natación</td>
      </tr>
      <tr>
        <td>11:00 PM</td>
        <td>Reunión</td>
        <td>Una vez</td>
        <td>Capacitación</td>
      </tr>
      <tr>
        <td>12:30 PM</td>
        <td>Reunión</td>
        <td>Una vez</td>
        <td>Capacitación</td>
      </tr>
      <tr>
        <td>02:00 PM</td>
        <td>Reunión</td>
        <td>Una vez</td>
        <td>Capacitación</td>
      </tr>
    </tbody>
  </table>
</div>
