
.register-title-container {
    font-family: 'Roboto';
    font-style: normal;
    font-size: 24px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #4F2380;
    flex-direction: column;
    padding-top: 100px;
    padding-bottom: 56px;
}

.register-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 50px 20px;
    max-width: 800px; 
    margin: 0 auto;
}


.input-row {
    display: flex;
    justify-content: center; 
    flex-wrap: wrap;
    width: 100%;
    gap: 124px; 
    padding-top: 42.5px;
}


.input-container {
    position: relative;
    margin-bottom: 20px;
    width: 48%; 
    max-width: 328px;
}

.input-container label {
    position: absolute;
    top: -7px;
    left: 20px;
    background: #ffffff;
    padding: 0 5px;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    font-weight: 400;
    color: #4F2380 !important;
    color: #ffffff;
   
}

.input-container label span {
    color: #a00104; 
}

.input-container input {
    width: 100%;
    padding: 15px;
    border: 1px solid #4F2380;
    border-radius: 7px;
    background: transparent;
    color: #000000;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}

.input-container input:focus {
    outline: none;
    border-color: #4F2380;
}

.input-container input.ng-invalid.ng-touched {
    border: 2px solid #A00104;
    background-color: #FFF5F5;
}

.button-row {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.btn {
    width: 264px;
    height: 36px;
    background-color: #4F2380;
    color: #FFFFFF;
    border: 1px solid #000000;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 500;
    border-radius: 10px;
    cursor: pointer;
}

.btn:hover {
    background-color: #5E3370;    
}

.btn:active {
    background-color: #5E3370;    
}

.btn:disabled {
    background-color: #D6C2E0;
    color: #4F2380;
    cursor: not-allowed;
}

small {
    color: #a00104;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    font-weight: 400;
    text-align: left;
    padding-left: 10px;
    display: block;
}



.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.5); /* Fondo oscuro para resaltar el modal */
  }
  
  .modal-content {
    background: #198754;
    padding: 40px;
    border-radius: 10px;
    text-align: center;
    width: 265px;
    height: 160px;
    max-width: 800px;
  }
  
  .modal-content p {
    font-size: 20px;
    margin-bottom: 30px;
    color: #ffffff;
  }
  
  .modal-content button {
    font-size: 18px;
    margin-bottom: 20px;
    background-color: transparent;
    border: 1px solid #ffffff;
    color: #ffffff;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 30px;
  }
  
  .modal-content button:hover {
    background-color: #ffffff;
    color: #198754;
  }


.input-container input:-webkit-autofill {
    box-shadow: 0 0 0 100px #ffffff inset;
    -webkit-text-fill-color: #000000 !important;
}

.input-container input:-webkit-autofill:focus {
    box-shadow: 0 0 0 100px #ffffff inset;
    -webkit-text-fill-color: #000000 !important;
}

@media screen and (max-width: 855px) {
    .register-title-container {
        font-family: 'Roboto';
        font-style: normal;
        font-size: 24px;
        display: flex;
        align-items: center;
        text-align: center;
        color: #4F2380;
        flex-direction: column;
        padding-top: 100px;
        padding-bottom: 20px;
    }
    .input-row {
        display: flex;
        flex-direction: column; 
        align-items: center; 
        width: 100%;
        gap: 20px; 
        padding-top: 20px; 
    }

    .input-container {
        width: 90%; 
        max-width: 328px;
    }

    .input-container input {
        width: 100%;
        box-sizing: border-box; 
    }

    .input-container label {
        width: auto;
        text-align: left;
    }
  }